NET "clk"    LOC= "B8";

NET "sw<0>" LOC = "G18";
NET "sw<1>" LOC = "H18";
NET "sw<2>" LOC = "K18";
NET "sw<3>" LOC = "K17";

#NET "btn<0>"    LOC= "B18";

NET "red<0>"   LOC = "R9";
NET "red<1>"   LOC = "T8";
NET "red<2>"   LOC = "R8";
NET "green<0>" LOC = "N8";
NET "green<1>" LOC = "P8";
NET "green<2>" LOC = "P6";
NET "blue<0>"  LOC = "U5";
NET "blue<1>"  LOC = "U4";

NET "hs"     LOC= "T4";
NET "vs"     LOC= "U3";
